.head {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #AE97EF;
  padding: 0px 5%;
}
.head h1 {
  background: -webkit-linear-gradient(90deg, #1742b8, #37a8eedd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.profile {
  color: #3e6cde;
}
.head .btns{
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 15px;
  font-size: 15px;
  font-weight: 600;
}
.head .login_btn{
  color:white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 3px 5px;
  cursor:pointer;
}



@media screen and (max-width: 300px) {
.head .btns{
  font-size: 10px;
}

}